services:
  # -----------------------------
  # ZOOKEEPER
  # -----------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  # -----------------------------
  # KAFKA
  # -----------------------------
  kafka:
    image: confluentinc/cp-kafka:6.2.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka-data:/var/lib/kafka/data

  # -----------------------------
  # HDFS NAMENODE
  # -----------------------------
  namenode:
    image: apache/hadoop:3.3.6
    container_name: namenode
    hostname: namenode
    command: ["hdfs", "namenode"]
    ports:
      - "9870:9870"   # Web UI
      - "8020:8020"   # RPC port
      - "7000:7000"   # JMX exporter
    volumes:
      - ./monitoring/jmx:/opt/jmx:ro
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
      HADOOP_NAMENODE_OPTS: "-javaagent:/opt/jmx/jmx_prometheus_javaagent-0.20.0.jar=7000:/opt/jmx/hadoop.yml"
    env_file:
      - ./config
  # -----------------------------
  # HDFS DATANODE
  # -----------------------------
  datanode:
    image: apache/hadoop:3.3.6
    container_name: datanode
    hostname: datanode
    command: ["hdfs", "datanode"]
    ports:
      - "9864:9864"   # Web UI
      - "7001:7001"   # JMX exporter
    volumes:
      - ./monitoring/jmx:/opt/jmx:ro
    environment:
      HADOOP_DATANODE_OPTS: "-javaagent:/opt/jmx/jmx_prometheus_javaagent-0.20.0.jar=7001:/opt/jmx/hadoop.yml"
    env_file:
      - ./config

volumes:
  kafka-data:
  namenode-data:
  datanode-data:
  